manifest {
    mainScript = 'main.nf'
}


input {
    path = "/fasta_files"
    file_filter = "*.fasta"
}

process map {
    cmd = "salmon quant -i /index -p 20 --validateMappings --writeUnmappedNames -l A -r {input} -o {output}"
    input = ["{path}/{file}" for file in input_files]
    output = ["{path}/{file|basename}_salmon" for file in input_files]
}

process trim {
    cmd = "trim_galore -q 20 --length 50 --fastqc --illumina --stringency 3 {input} -o {output}"
    input = ["{path}/{file|basename}_salmon/quant.sf" for file in input_files]
    output = ["{path}/{file|basename}_trimmed" for file in input_files]
}

process generate_reads {
    cmd = "Rscript generate_reads.R {input} {output} {sample_names} {replicate_info}"
    input = ["{path}/{file}" for file in input_files]
    output = ["{path}/{file|basename}_reads.csv" for file in input_files]
    args = {
        sample_names = ["sample1", "sample2", "sample3", "sample4", "sample5", "sample6"],
        replicate_info = ["1", "1", "1", "2", "2", "2"]
    }
}

process diff_exp {
    cmd = "Rscript diff_exp.R {input} {output} {sample_names} {replicate_info}"
    input = ["{path}/{file|basename}_reads.csv" for file in input_files]
    output = ["{path}/{file|basename}_diff_exp.csv" for file in input_files]
    args = {
        sample_names = ["sample1", "sample2", "sample3", "sample4", "sample5", "sample6"],
        replicate_info = ["1", "1", "1", "2", "2", "2"]
    }
}

process go_kegg {
    cmd = "Rscript go_kegg.R {input} {output}"
    input = ["{path}/{file|basename}_diff_exp.csv" for file in input_files]
    output = ["{path}/{file|basename}_go_kegg.csv" for file in input_files]
}

output {
    type = "file"
    path = "/output"
    file_per_input = true
    output_files = [        "{path}/{file|basename}_trimmed/*",        "{path}/{file|basename}_reads.csv",        "{path}/{file|basename}_diff_exp.csv",        "{path}/{file|basename}_go_kegg.csv"    ]
}
